[submodule "cyclo_brain/policy/lerobot/lerobot"]
	path = cyclo_brain/policy/lerobot/lerobot
	url = https://github.com/omkarpatil18/lerobot-cyclo.git
[submodule "cyclo_brain/sdk/zenoh_ros2_sdk"]
	path = cyclo_brain/sdk/zenoh_ros2_sdk
	url = https://github.com/ROBOTIS-GIT/zenoh_ros2_sdk.git
[submodule "cyclo_brain/policy/groot/Isaac-GR00T"]
	path = cyclo_brain/policy/groot/Isaac-GR00T
	url = https://github.com/ROBOTIS-GIT/Isaac-GR00T-n1.7.git
